<div class="container">
  <form action="/answer" data-turbo="false" method="get">
  <div>
  <input id="question" class="border rounded my-2 py-2 px-3" type="text"  placeholder= "Type the question.." name="question" value=<%= params[:question]%>>
  </div>
  <div>
    <input class="btn-success btn-lg btn-block" type="submit" value="Ask!">
    </div>
</form>
</div>
